<p id="notice"><%= notice %></p>

<h1>Fleets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fleets.each do |fleet| %>
      <tr>
        <td><%= fleet.name %></td>
        <td><%= link_to 'Show', fleet %></td>
        <td><%= link_to 'Edit', edit_fleet_path(fleet) %></td>
        <td><%= link_to 'Destroy', fleet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fleet', new_fleet_path %>
